{% extends "base.html" %}

{% block title %}{{ context.title }}{% endblock %}
{% block body %}

<div class="container">
	<br>
	<div class="row">
		<div class="col l12 m12 s12">
			<h3 class="header center">
				About Me
			</h3>
		</div>
		
		<div class="col l12 m12 s12">
			<p class="black-text flow-text">My full name is José Luis Esteban Rodríguez González.</p>
			<p class="black-text flow-text">Just call me Luis.</p>
			<p class="black-text flow-text">I'm a software programmer and sometimes a musician.</p>
			<p class="black-text flow-text">My favorite programming language is Python because it is beautiful and very powerful. I'm also interested in languages like Go and Rust or functional-oriented like Elixir or F#.</p>
			<p class="black-text flow-text">I like music and some of my favorite artists are And One, Hocico, Suicide Commando, C-Lekktor, Burzum, Amon Amarth, Immortal among some others.</p>
			<!-- <p class="black-text flow-text">I love to spend my time with my girlfriend, she's my biggest support and the reason for going forward, even when she has her own problems and I can not help her as I would like. Every day I think about her :)</p> -->
			<br>
			<div class="col l12 m12 s12 center">
				<img class="center" src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-9/179741_432773936732798_1066713989_n.jpg?oh=48b26f999d64cf1c5313953889428b8a&oe=59519187" alt="" style="width: 300px; height: auto;">
			</div>
		</div>

	</div>
</div>
  
{% endblock %}
