{% extends "base.html" %}

{% block title %}{{ context.title }}{% endblock %}
{% block body %}

<div class="container">
	<br>
	<div class="row">
		<div class="col l12 m12 s12">
			<h3 class="header center">
				About Me
			</h3>
		</div>
		
		<div class="col l12 m12 s12">
			<p class="black-text flow-text">My full name is José Luis Esteban Rodríguez González.</p>
			<p class="black-text flow-text">Just call me Luis.</p>
			<p class="black-text flow-text">I'm a software programmer and sometimes a musician.</p>
			<p class="black-text flow-text">My favorite programming language is Python because it is beautiful and very powerful. I'm also interested in languages like Go and Rust or functional-oriented like Elixir or F#.</p>
			<p class="black-text flow-text">My favorite music is metal subgenres like Black Metal or Industrial, and electronic subgenres like EBM, synthpop, future pop and aggrotech.</p>
			<p class="black-text flow-text">Some of my favorite artists are Burzum, Immortal, Sepultura, Brujeria, etc. in the metal side and Suicide Commando, Hocico, Amduscia, C-Lekktor, And One, Armin Van Buuren, etc. in the electronic side.</p>
		</div>

	</div>
</div>
  
{% endblock %}