{% extends "base.html" %}

{% block title %}
{{ context.title }}
{% endblock %}

{% block body %}
<div class="container">

	<div class="row">
	
		<div class="col l12  m12 s12">
			<h3 class="header black-text">Contact Info</h3>
		</div>
	
	</div>
	
	<div class="row">
		<div class="col l8 m12 s12">
			
			<ul class="collapsible" data-collapsible="accordion">
			    <li>
			      <div class="collapsible-header"><i class="mail icon"></i>
					<span class="header">E-mail</span>
			      </div>
			      <div class="collapsible-body"><span><i class="google icon"></i>rodriguezjluis0@gmail.com</span></div>
			      <div class="collapsible-body"><span><i class="google icon"></i>lestebanrg@labdii.com </span></div>
			    </li>
			    <li>
			      <div class="collapsible-header"><i class="linkedin icon"></i>
			      	<span class="header">Linkedin</span>
			      </div>
			      <div class="collapsible-body"><span>https://linkedin.com/in/jose-luis-esteban-rodriguez-gonzalez-ba3962a5</span>
			      <br><br>
					<a class="waves-effect waves-light btn black" href="https://linkedin.com/in/jose-luis-esteban-rodriguez-gonzalez-ba3962a5" target="_blank">See profile</a>
			      </div>
			    </li>
			    <li>
			      <div class="collapsible-header"><i class="facebook icon"></i>
			      	<span class="header">Facebook</span>
			      </div>
			      <div class="collapsible-body">
			      <span>https://facebook.com/luisestebanrockdriguez</span>
			      <br><br>
					<a class="waves-effect waves-light btn black" href="https://facebook.com/luisestebanrockdriguez" target="_blank">See profile</a>
			      </div>
			    </li>
			    <li>
			      <div class="collapsible-header"><i class="github icon"></i>
			      	<span class="header">GitHub</span>
			      </div>
			      <div class="collapsible-body">
			      <span>https://github.com/metalerk/</span>
			      <br><br>
					<a class="waves-effect waves-light btn black" href="https://github.com/metalerk/" target="_blank">See repo</a>
			      </div>
			    </li>
			    <li>
			      <div class="collapsible-header"><i class="youtube play icon"></i>
			      	<span class="header">YouTube</span>
			      </div>
			      <div class="collapsible-body">
			      <span>https://www.youtube.com/user/boomermanisch/</span>
			      <br><br>
					<a class="waves-effect waves-light btn black" href="https://www.youtube.com/user/boomermanisch/" target="_blank">Watch</a>
			      </div>
			    </li>
			    <li>
			      <div class="collapsible-header"><i class="soundcloud icon"></i>
			      	<span class="header">SoundCloud</span>
			      </div>
			      <div class="collapsible-body">
			      <span>https://soundcloud.com/luismetalerk</span>
			      <br><br>
					<a class="waves-effect waves-light btn black" href="https://soundcloud.com/luismetalerk" target="_blank">Listen</a>
			      </div>
			    </li>
  			</ul>
		</div>

		<div class="col l4 m12 s12 push-l1">
  				<img class="responsive-img" src="static/img/nappa.jpg" alt="" style="width: auto; height: auto;">

  			</div>

	</div>
</div>
{% endblock %}
