{% extends "base.html" %}

{% block title %}
{{ context.title }}
{% endblock %}

{% block body %}
<!--  -->

<div class="section">
	<div class="row">
		<div class="col l4 m4 s12">
			<img class="materialboxed responsive-img center" data-caption="José Luis Esteban Rodríguez González" src="https://www.linkedin.com/mpr/mpr/AAEAAQAAAAAAAAeOAAAAJDNkZjUzNTU0LWE5ZWEtNGI4Yi1hNjVmLWZmYjI2MjlkNWNhNA.jpg" alt="" style="width: 300px; height: auto;">
		</div>
		<div class="col l7 m7 s11">

			<h3 class="header flow-text center">José Luis Esteban Rodríguez González</h3>
			<br>
			<div class="fixed-action-btn horizontal click-to-toggle">
			    <a class="btn-floating btn-large red">
			      <i class="large material-icons">menu</i>
			    </a>
			    <ul>
			      <li><a class="btn-floating blue" href="https://www.linkedin.com/profile/pdf?id=ACoAABZjdisBZxbf8ZWfD1hCLEr4L1esI2K9TIQ&locale=es_ES&pdfFileName=Jose%20Luis%20EstebanRodriguez%20GonzalezProfile&authType=name&authToken=GE5R&disablePdfCompression=true&trk=pdf_pro_full"><i class="material-icons">file_download</i></a></li>
			    </ul>
				</div>
			
			<ul class="collapsible" data-collapsible="accordion">
			    <li>
			      <div class="collapsible-header"><i class="mail icon"></i>
					<span class="header">E-mail</span>
			      </div>
			      <div class="collapsible-body"><span ><i class="google icon"></i>rodriguezjluis0@gmail.com</span></div>
			      <div class="collapsible-body"><span ><i class="google icon"></i>lestebanrg@labdii.com</span></div>
			    </li>
			    <li>
			      <div class="collapsible-header"><i class="linkedin icon"></i>
			      	<span class="header">Linkedin</span>
			      </div>
			      <div class="collapsible-body"><span>https://linkedin.com/in/jose-luis-esteban-rodriguez-gonzalez-ba3962a5</span>
			      <br><br>
					<a class="waves-effect waves-light btn black" href="https://linkedin.com/in/jose-luis-esteban-rodriguez-gonzalez-ba3962a5" target="_blank">See profile</a>
			      </div>
			    </li>
			    
			    <li>
			      <div class="collapsible-header"><i class="github icon"></i>
			      	<span class="header">GitHub</span>
			      </div>
			      <div class="collapsible-body">
			      <span>https://github.com/metalerk/</span>
			      <br><br>
					<a class="waves-effect waves-light btn black" href="https://github.com/metalerk/" target="_blank">See repo</a>
			      </div>
			    </li>
			    
  			</ul>

		</div>

	</div>

</div>

<div class="section">
	<div class="container">
		<div class="row">
			<h3 class="header center">Education</h3>
		</div>
		<div class="row">
			<h5 class="center">Instituto Politécnico Nacional</h5>
		</div>
	</div>

		<div class="row">

			<div class="col l2 m4 s11 push-s1 center">
			<br>
				<img src="http://www.ipn.mx/CCS/Identidad/PublishingImages/Identidad/LOGO-POLIGUINDA-PANTONE222.jpg" alt="" class="responsive-img" style="width: auto; height: 200px;">
			</div>
			<div class="col l4 m7 s11 push-s1">
				<p class="flow-text">CECyT 3 "Estanislao Ramírez Ruíz"</p>
				<p>Técnico en Computación</p>
				<p>2007 - 2012</p>
			</div>
			<div class="col l4 m7 s11 push-s1">
				<p class="flow-text">Escuela Superior de Cómputo</p>
				<p>Ingeniería en Sistemas Computacionales</p>
				<p>2012 - present</p>
			</div>
		</div>
</div>

<div class="section">
	<div class="container">
		<div class="row">
			<h3 class="header center">Work Experience</h3>
		</div>
		<div class="row">
			<div class="col l12 m12 s12 center">
				<img class="responsive-img" src="https://media.licdn.com/media/p/5/005/02d/277/3e9dd1a.png" alt="" class="responsive-img center" style="width: auto; height: 100px;">
			</div>
			<div class="col l5 m5 s12">
				<p class="flow-text center">QA Analyst</p>
				<p>Testing and quality assurance on new ecommerce plugins releases and developments.<br><br>
					Researching, development and maintenaince of python based microservices.</p>
				<br>
				<strong>Sept-2016 – Dec-2016</strong>
			</div>
			<div class="col l7 m7 s12">
				<p class="flow-text center">Microservices Developer</p>
				<p>Developing with AWS instances and Python-based technologies.<br><br>
					Developing bots for scraping bank websites to process new payments.<br><br>
					Microservices development to manage new payments processing.<br><br>
					Developing command line tools to track remote logs or events.<br><br>
					Developing plug-in Python modules.<br><br>
					Using technologies such as Pandas DataFrame, AWS Lambda, MongoDB, Redis, DynamoDB, etc.</p>
				<br>
				<strong>Dec-2017 – Mar-2017</strong>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="container">
		<div class="row">
			<div class="col l12 m12 s12 center">
				<img class="responsive-img" src="http://www.cobrec.com.mx/wp-content/uploads/2016/01/CobrecLogo.png" alt="" class="responsive-img center" style="width: auto; height: 100px;">
			</div>
			<div class="col l12 m12 s12">
				<p class="flow-text center">System Administrator</p>
				<p>I mantained and developed some internal management systems such as file storage like ownCloud and python-based automatization scripts.<br><br>
				Also I did some consulting services for end-users about internal systems, documentation and training for employees.</p>
				<br>
				<strong>Oct-2015 – May-2016</strong>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="container">
		<div class="row">
			<div class="col l12 m12 s12 center">
				<img class="responsive-img" src="https://media.licdn.com/mpr/mpr/shrink_200_200/AAEAAQAAAAAAAAhYAAAAJDJkMzUxOWYxLTcwODQtNGY1Ny05Mjc0LWE3ZDI4MjJhYzYwZQ.png" alt="" class="responsive-img center" style="width: auto; height: 120px;">
				<h5 class="center">Diprow Solutions</h5>
			</div>
			<div class="col l12 m12 s12">
				<p class="flow-text center">Backend Developer</p>
				<p>Developing Web Applications backend.<br><br>Developing software for client needs.</p>
				<br>
				<strong>Aug-2015</strong>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="container">
		<div class="row">
			<div class="col l12 m12 s12 center">
				<h5 class="center">Independent Developer</h5>
			</div>
			<div class="col l12 m12 s12">
				<p class="flow-text center">Freelance Developer</p>
				<p>I develop personal and freelance projects for fun and profit.</p>
				<br>
				<strong>2012</strong>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="container">
		<div class="row">
			<div class="col l12 m12 s12 center">
				<h5 class="center">IT Consultant</h5>
			</div>
			<div class="col l12 m12 s12">
				<p class="flow-text center">Freelance Consultant</p>
				<p>I did some consulting services for end-users and PyMEs about system migration from Microsoft technologies to free software.<br><br>
				Also I developed many on-demand software for specific neededs.</p>
				<br>
				<strong>2012</strong>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="container">
	<div class="row">
			<h3 class="header center">Certifications</h3>
		</div>
		<div class="row">
			<div class="col l12 m12 s12 center">
				<img class="responsive-img" src="http://www.openintelligence.com.mx/images/logo-1.png" alt="" class="responsive-img center" style="width: auto; height: 50px;">
			</div>
			<div class="col l12 m12 s12">
				<p class="flow-text center">Linux Administrator</p>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="container">
	<div class="row">
			<h3 class="header center">Courses</h3>
		</div>
		<div class="row">

		<div class="col l12 s12 m12 center">
			    
			    <div class="card horizontal">
			      <div class="card-image">
			        <img class="responsive-img" src="http://dev.topheman.com/wp-content/uploads/2013/12/mongodb-university-logo.png" style="width: auto; height: 100px;">
			      </div>
			      <div class="card-stacked">
			        <div class="card-content">
			        <p class="flow-text">Mongo University</p>
			          <br>
			          <p>MongoDB for Developers</p>
			        </div>
			        
			      </div>
			    </div>
			  </div>

		<div class="col l12 s12 m12 center">
			    
			    <div class="card horizontal">
			      <div class="card-image">
			        <img class="responsive-img" src="http://www.ipn.mx/CCS/Identidad/PublishingImages/Identidad/LOGO-POLIGUINDA-PANTONE222.jpg" style="width: auto; height: 150px;">
			      </div>
			      <div class="card-stacked">
			        <div class="card-content">
			        <p class="flow-text">Dirección de Cómputo y Comunicaciones del IPN</p>
			          <br>
			          <p>Red Hat Enterprise Linux Administrator v6</p>
			        </div>
			        
			      </div>
			    </div>
			  </div>

			<div class="col l12 s12 m12 center">
			    
			    <div class="card horizontal">
			      <div class="card-image">
			        <img class="responsive-img" src="http://cdn10.techchange.org/wp-content/uploads/2013/02/Coursera-Logo-cropped1.jpg" style="width: auto; height: 150px;">
			      </div>
			      <div class="card-stacked">
			        <div class="card-content">
			        <p class="flow-text">Coursera</p>
			          <br>
			          <p>An Introduction to Interactive Programming in Python</p>
			        </div>
			      </div>
			    </div>
			  </div>

			  <div class="col l12 s12 m12 center">
			    
			    <div class="card horizontal">
			      <div class="card-image">
			        <img class="responsive-img" src="http://cdn10.techchange.org/wp-content/uploads/2013/02/Coursera-Logo-cropped1.jpg" style="width: auto; height: 150px;">
			      </div>
			      <div class="card-stacked">
			        <div class="card-content">
			        <p class="flow-text">Coursera</p>
			          <br>
			          <p>Python for Everybody</p>
			        </div>
			        
			      </div>
			    </div>
			  </div>

		</div>

	</div>
</div>

{% endblock %}
