{% extends "base.html" %}

{% block title %}
{{ context.title }}
{% endblock %}

{% block body %}

<div class="container">
	<div class="row">
		<div class="col l12 m12 s12">
		
		<h2 class="header">{{ context.video_name }}</h2>

		</div>
	</div>

	<div class="row">
		<div class="col l12 m12 s12">
			<span class="flow-text">
			{{ context.video_desc }}
			</span>
		</div>
	</div>

	<div class="row">
		<div class="col l12 m12 s12">
			<div class="video-container">
         		<iframe width="420" height="315" src="{{ context.video_url }}?autoplay={{ context.video_autoplay }}&showinfo=0&controls=2&modestbranding=1&rel=0">
				</iframe> 
      		</div>
		</div>
	</div>

</div>
{% endblock %}